<form #f2=ngForm (ngSubmit)="rechercheNom(f2.value)">
 nom recherché :  <input type="text" ngModel name="nom">
</form>


<ul>
  <li *ngFor="let cl of clistrouv">
    {{cl.nom}}-{{cl.prenom}}-{{cl.tel}}
  </li>
</ul>

















<ng-template [ngIf]="clistrouv" >
<ng-template [ngIf]="clistrouv.length>0" [ngIfElse]="inconnu">
<div class="demo">
  <ul>
    <li *ngFor="let c of clistrouv">
      {{c.nom}}- {{c.prenom}}- {{c.tel}}
      <button (click)="effacer(c)">effacer</button>
    </li>
  </ul>
</div>
</ng-template>
<ng-template #inconnu>
  Nom inconnu
</ng-template>
</ng-template>
